@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

section {
  padding: 2rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.8rem;
  font-size: 1.7rem;
  cursor: pointer;
  color: #fff;
  background: #27ae60;
  border-radius: 0.5rem;
}
.btn:hover {
  background: #130f40;
}

.heading {
  text-align: center;
  padding-bottom: 2rem;
}
.heading span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #27ae60;
}
.heading h3 {
  font-size: 3rem;
  color: #130f40;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 8.5rem;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #fff;
}
html::-webkit-scrollbar-thumb {
  background: #27ae60;
  border-radius: 5rem;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 9%;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
header .logo {
  font-size: 2.5rem;
  font-weight: bolder;
  color: #130f40;
}
header .logo i {
  padding-right: 0.5rem;
  color: #27ae60;
}
header .navbar a {
  font-size: 1.7rem;
  margin: 0 1rem;
  color: #666;
}
header .navbar a:hover {
  color: #27ae60;
}
header .icons div {
  background-color: #f7f7f7;
  color: #130f40;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  text-align: center;
  border-radius: 0.5rem;
  margin-left: 0.3rem;
  cursor: pointer;
}
header .icons div:hover {
  color: #fff;
  background-color: #27ae60;
}

#menu-btn {
  display: none;
}

@-webkit-keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}

@keyframes fadeUp {
  0% {
    transform: translateY(5rem);
    opacity: 0;
  }
}
.search-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  background-color: #fff;
  height: calc(100vh - 8.5rem);
  display: none;
  z-index: 1000;
  z-index: 1000;
}
.search-container.active {
  display: block;
}
.search-container form {
  height: 7rem;
  border-bottom: 0.2px solid #130f40;
  background-color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.search-container form input {
  height: 100%;
  width: 100%;
  font-size: 1.7rem;
  color: #130f40;
  text-transform: none;
  padding-right: 1rem;
}
.search-container form label {
  font-size: 3rem;
  color: #130f40;
  cursor: pointer;
}
.search-container form label:hover {
  color: #27ae60;
}

.shopping-cart-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  background-color: #fff;
  height: calc(100vh - 8.5rem);
  overflow-y: scroll;
  padding-bottom: 8rem;
  display: none;
  z-index: 1000;
}
.shopping-cart-container.active {
  display: block;
}
.shopping-cart-container::-webkit-scrollbar {
  width: 1rem;
}
.shopping-cart-container::-webkit-scrollbar-track {
  background: #fff;
}
.shopping-cart-container::-webkit-scrollbar-thumb {
  background: #130f40;
  border-radius: 5rem;
}
.shopping-cart-container .products-container {
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.shopping-cart-container .products-container .order-header {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.shopping-cart-container .products-container .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  padding: 1.5rem;
}
.shopping-cart-container .products-container .box-container .box {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem;
  position: relative;
}
.shopping-cart-container .products-container .box-container .box i {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  cursor: pointer;
  color: #130f40;
}
.shopping-cart-container .products-container .box-container .box i:hover {
  color: #27ae60;
}
.shopping-cart-container .products-container .box-container .box img {
  height: 8rem;
}
.shopping-cart-container .products-container .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.shopping-cart-container .products-container .box-container .box .content .quantity-box span {
  font-size: 1.5rem;
  color: #666;
}
.shopping-cart-container .products-container .box-container .box .content .quantity-box input {
  width: 8rem;
  padding: 0.5rem 1.2rem;
  font-size: 1.5rem;
  color: #130f40;
  margin: 0.7rem 0;
}
.shopping-cart-container .products-container .box-container .box .content .price-box span {
  font-size: 1.7rem;
  color: #27ae60;
}
.shopping-cart-container .cart-total {
  margin-top: 2rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear 0.4s backwards;
          animation: fadeUp 0.4s linear 0.4s backwards;
}
.shopping-cart-container .cart-total .cart-heading {
  text-align: center;
  font-size: 2.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 1rem;
}
.shopping-cart-container .cart-total .box {
  padding: 1.5rem;
}
.shopping-cart-container .cart-total .box h3 {
  color: #130f40;
  font-size: 2rem;
  padding-bottom: 0.7rem;
}
.shopping-cart-container .cart-total .box h3 span {
  color: #27ae60;
}

.login-container {
  position: fixed;
  top: 8.5rem;
  left: 0;
  right: 0;
  background-color: #fff;
  height: calc(100vh - 8.5rem);
  display: none;
  padding: 0 2rem;
  z-index: 1000;
}
.login-container.active {
  display: block;
}
.login-container form {
  margin: 2rem auto;
  max-width: 40rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
  border: 0.1rem solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 0.5rem;
  -webkit-animation: fadeUp 0.4s linear;
          animation: fadeUp 0.4s linear;
}
.login-container form h3 {
  padding-bottom: 1rem;
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #130f40;
  text-align: center;
}
.login-container form .box {
  margin: 0.7rem 0;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  width: 100%;
}
.login-container form .remember {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.login-container form .remember label {
  font-size: 1.5rem;
  cursor: pointer;
  color: #666;
}
.login-container form .btn {
  margin: 1rem 0;
  width: 100%;
  text-align: center;
}
.login-container form p {
  padding-top: 1rem;
  font-size: 1.5rem;
  color: #666;
}
.login-container form p a {
  color: #27ae60;
}
.login-container form p a:hover {
  color: #130f40;
  text-decoration: underline;
}

.home {
  display: flex;
  align-items: center;
  flex-wrap: wrap-reverse;
  gap: 2rem;
  overflow: hidden;
  position: relative;
}
.home .left-side {
  flex: 1 1 41rem;
}
.home .left-side span {
  font-size: 2rem;
  color: #27ae60;
}
.home .left-side h3 {
  font-size: 4rem;
  color: #130f40;
  padding-top: 1rem;
}
.home .left-side p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.home .right-side {
  flex: 1 1 41rem;
  margin: 2rem 0;
  pointer-events: none;
}
.home .right-side .home-img {
  width: 100%;
  margin-top: 5rem;
}
.home .right-side .home-parallax {
  position: absolute;
  top: -10rem;
  right: -10rem;
  width: 80vw;
}

.category {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
  padding-bottom: 5rem;
}
.category .box {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
}
.category .box img {
  height: 7rem;
}
.category .box h3 {
  font-size: 1.8rem;
  color: #130f40;
}
.category .box:hover {
  background-color: #27ae60;
}
.category .box:hover h3 {
  color: #fff;
}

.about {
  background-color: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}
.about .about-left-side {
  flex: 1 1 41rem;
}
.about .about-left-side .about-img {
  width: 100%;
}
.about .about-right-side {
  flex: 1 1 41rem;
}
.about .about-right-side span {
  font-family: "Satisfy", cursive;
  font-size: 3rem;
  color: #27ae60;
}
.about .about-right-side h3 {
  font-size: 3rem;
  padding-top: 0.5rem;
  color: #130f40;
}
.about .about-right-side p {
  font-size: 1.4rem;
  color: #666;
  line-height: 2;
  padding: 1rem 0;
}
.about .about-right-side .about-services {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  gap: 1.5rem;
}
.about .about-right-side .about-services div {
  flex: 1 1 20rem;
  background-color: #fff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.05);
}
.about .about-right-side .about-services div p {
  font-size: 1.7rem;
  font-weight: bold;
  color: #130f40;
}

.popular .card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.popular .card-container .card {
  background-color: #f7f7f7;
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  text-align: center;
}
.popular .card-container .card .fa-heart {
  position: absolute;
  font-size: 2.5rem;
  right: 1.5rem;
  top: 1.5rem;
  color: #666;
}
.popular .card-container .card .fa-heart:hover {
  color: #27ae60;
}
.popular .card-container .card .image {
  margin: 1rem 0;
}
.popular .card-container .card .image img {
  height: 15rem;
}
.popular .card-container .card .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.popular .card-container .card .content .stars {
  font-size: 1.7rem;
  padding: 1rem 0;
}
.popular .card-container .card .content .stars i {
  color: gold;
}
.popular .card-container .card .content .price {
  font-size: 2rem;
  color: #130f40;
}
.popular .card-container .card .content .price span {
  font-size: 1.5rem;
  color: #666;
  text-decoration: line-through;
}

.banner .row-banner {
  background: url(../images/row-banner.png) no-repeat;
  height: 45rem;
  background-size: cover;
  background-position: center;
  position: relative;
}
.banner .row-banner .content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
}
.banner .row-banner .content span {
  font-family: "Satisfy", cursive;
  font-size: 4rem;
  color: #27ae60;
  color: #130f40;
}
.banner .row-banner .content h3 {
  font-size: 6rem;
  color: red;
}
.banner .row-banner .content p {
  font-size: 2rem;
  padding-bottom: 1rem;
}
.banner .grid-banner {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.banner .grid-banner .grid {
  position: relative;
  border-radius: 1rem;
  overflow: hidden;
  height: 45rem;
}
.banner .grid-banner .grid:hover img {
  transform: scale(1.2);
}
.banner .grid-banner .grid img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.banner .grid-banner .grid .content {
  position: absolute;
  top: 2rem;
  padding: 0 2rem;
}
.banner .grid-banner .grid .content.center {
  text-align: center;
  width: 100%;
}
.banner .grid-banner .grid .content.center span {
  color: #666;
}
.banner .grid-banner .grid .content.center h3 {
  color: #130f40;
}
.banner .grid-banner .grid .content span {
  font-size: 2.5rem;
  color: #fff;
}
.banner .grid-banner .grid .content h3 {
  font-size: 3rem;
  color: #fff;
  padding-top: 0.5rem;
}

.menu .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.menu .box-container .box {
  border-radius: 0.5rem;
  background-color: #f7f7f7;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.menu .box-container .box:hover {
  background-color: #130f40;
}
.menu .box-container .box:hover .content h3 {
  color: #fff;
}
.menu .box-container .box img {
  height: 10rem;
}
.menu .box-container .box .content h3 {
  font-size: 2rem;
  color: #130f40;
  padding-bottom: 0.5rem;
}
.menu .box-container .box .content .price {
  font-size: 1.8rem;
  color: #27ae60;
}

.order .icons-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
  margin-bottom: 2rem;
}
.order .icons-container .box {
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem;
  background-color: #f7f7f7;
}
.order .icons-container .box img {
  height: 10rem;
}
.order .icons-container .box h3 {
  font-size: 2rem;
  color: #130f40;
  margin-top: 0.5rem;
}
.order form {
  background-color: #f7f7f7;
  padding: 2rem;
  border-radius: 0.5rem;
}
.order form .flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.order form .flex .inputBox {
  width: 49%;
  padding: 0.7rem 0;
}
.order form .flex .inputBox label {
  font-size: 1.7rem;
  color: #666;
}
.order form .flex .inputBox input,
.order form .flex .inputBox textarea {
  width: 100%;
  padding: 1rem 1.2rem;
  border-radius: 0.5rem;
  font-size: 1.6rem;
  text-transform: none;
  color: #130f40;
  margin-top: 0.5rem;
}
.order form .flex .inputBox textarea {
  height: 20rem;
  resize: none;
}
.order form .flex .inputBox .map {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.blog .blog-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}
.blog .blog-container .box {
  overflow: hidden;
  position: relative;
  border-radius: 0.5rem;
  background-color: #f7f7f7;
}
.blog .blog-container .box:hover .image img {
  transform: scale(1.2);
}
.blog .blog-container .box:hover .date {
  left: 1.5rem;
}
.blog .blog-container .box .date {
  position: absolute;
  background-color: #fff;
  padding: 0.5rem 1rem;
  top: 1rem;
  left: -100%;
  border-radius: 0.5rem;
  z-index: 10;
}
.blog .blog-container .box .date i {
  color: #27ae60;
  font-size: 1.6rem;
  padding-right: 0.5rem;
}
.blog .blog-container .box .date span {
  color: #130f40;
  font-size: 1.5rem;
  font-weight: bold;
}
.blog .blog-container .box .image {
  overflow: hidden;
  height: 25rem;
  width: 100%;
}
.blog .blog-container .box .image img {
  border-radius: 0.5rem;
  width: 100%;
  height: 100%;
}
.blog .blog-container .box .content-box {
  padding: 1.5rem 2rem;
}
.blog .blog-container .box .content-box .links {
  padding-bottom: 1rem;
}
.blog .blog-container .box .content-box .links a:hover span {
  color: #27ae60;
}
.blog .blog-container .box .content-box .links a i {
  font-size: 1.7rem;
  color: #27ae60;
  margin-right: 0.7rem;
}
.blog .blog-container .box .content-box .links a span {
  font-size: 1.4rem;
  color: #666;
  margin-right: 0.7rem;
}
.blog .blog-container .box .content-box .content h3 {
  font-size: 2rem;
  color: #130f40;
}
.blog .blog-container .box .content-box .content p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
  line-height: 2;
}

.footer {
  background-color: #f7f7f7;
}
.footer .Newsletter {
  text-align: center;
  font-size: 2.5rem;
  color: #130f40;
}
.footer form {
  margin: 1rem auto;
  max-width: 70rem;
  display: flex;
}
.footer form input[type=email] {
  height: 100%;
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #130f40;
  text-transform: none;
  border-radius: 0.5rem;
}
.footer form input[type=submit] {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: #fff;
  background-color: #27ae60;
  cursor: pointer;
  border-radius: 0.5rem;
}
.footer form input[type=submit]:hover {
  background-color: #130f40;
}
.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}
.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: #130f40;
  padding: 1rem 0;
}
.footer .box-container .box p {
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a {
  display: block;
  font-size: 1.4rem;
  color: #666;
  padding: 1rem 0;
}
.footer .box-container .box a:hover {
  color: #27ae60;
}
.footer .box-container .box a:hover i {
  padding-right: 2rem;
}
.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #27ae60;
}
.footer .bottom {
  padding-top: 1rem;
  text-align: center;
}
.footer .bottom .social {
  margin: 1.5rem 0;
}
.footer .bottom .social a {
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  border-radius: 0.5rem;
  color: #fff;
  background-color: #27ae60;
  margin: 0 0.3rem;
}
.footer .bottom .social a:hover {
  background-color: #130f40;
}
.footer .bottom .copy-right {
  font-size: 2rem;
  color: #666;
  padding: 1rem;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
}
@media (max-width: 768px) {
  #menu-btn {
    display: inline-block;
  }
  .header .navbar {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.2);
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.2);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  .header .navbar.active {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  .header .navbar a {
    font-size: 2rem;
    margin: 2rem;
    display: block;
  }
  .home .right-side .home-parallax {
    top: 0;
    right: 0;
    width: 130%;
  }
  .order form .flex .inputBox {
    width: 100%;
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .home .left-side h3 {
    font-size: 3rem;
  }
  .home .left-side p {
    font-size: 1.5rem;
  }
}/*# sourceMappingURL=style.css.map */